html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  overflow-x: hidden !important;
}
.navbar {
  padding-right: 30px;
}
.login-title {
  font-family: "Lora", "Roboto", serif;
  line-height: 1;
  color: #3b3b3b;
}
.hidden {
  display: none;
}
.default {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav_logo img {
  width: 50px;
  height: 50px;
}
.no-shadows {
  box-shadow: none !important;
}
nav {
  font-family: "Open Sans", "Roboto", Verdana;
  font-weight: 600;
}
.about {
  padding: 0px 30px 20px 30px;
  text-align: center;
  align-content: center;
}
.about h1 {
  font-family: "Lora", "Roboto", serif;
  color: #552d25;
  line-height: 1;
}
.about h6 {
  color: #c98a6a;
  margin-bottom: 50px;
}
.about p {
  line-height: 1.6em;
}
.about .subtitle {
  font-family: "Lora", "Roboto", serif;
  font-size: 16pt;
}
.about img {
  width: 40%;
  height: 40%;
  margin-bottom: 50px;
}

.detail_antrian {
  padding: 50px 30px;
  text-align: center;
  align-content: center;
}
.detail_antrian h1,
h3 {
  font-family: "Lora", "Roboto", serif;
  color: #552d25;
  line-height: 1;
}
.ambil_title {
  font-family: "Roboto", serif;
  color: #ffffff;
}
.detail_antrian h6 {
  color: #c98a6a;
  margin-bottom: 50px;
}
.detail_antrian p {
  line-height: 1.4em;
}
.full {
  background: #f4f4f4 url(./Assets/image/homepage/bg_antrian.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 950px;
  margin: auto;
  display: block;
  filter: brightness(100%);
}
.text-black {
  color: #2b2b2b;
}

.zoom {
  animation: shrink 10s alternate infinite;
}

@keyframes shrink {
  0% {
    background-size: 130%;
  }
  100% {
    background-size: 110%;
  }
}
.ambil_antrian {
  color: #ffffff;
}
.ambil_antrian .title_antrian {
  font-family: "Satisfy", "Roboto", Verdana;
  font-size: 50pt;
  text-align: center;
  text-shadow: 3px 3px 5px #000000;
  padding-top: 100px;
}
.cek_antrian h3 {
  font-family: "Lora", "Roboto", serif;
  color: #552d25;
  line-height: 1;
}
.form_antrian {
  width: 100%;
}
.form_antrian p {
  color: #0b1829;
  font-family: "Open Sans", serif;
  font-size: 16pt;
  font-weight: 600;
}

.container-fluid {
  padding: 0px;
  margin: 0 auto;
}

.slick-slider1 {
  height: 700px;
  box-sizing: border-box;
  box-shadow: #231f20;
  background-color: #ffffff;
}

.slick-slider1 img {
  height: 650px;
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
  filter: brightness(50%);
  padding-bottom: 10px;
}

.slide {
  position: relative;
}
.slide .white-caption {
  color: #f8f8f8;
}
.slide2 {
  line-height: 1;
}
.slide3 {
  line-height: 1;
  padding: 10px;
}

.title {
  font-family: "Satisfy", Verdana, Tahoma;
  position: absolute;
  top: 30%;
  left: 20%;
  text-shadow: 2px 2px 5px #000000;
  font-size: 45pt;
}

.paragraph {
  font-family: "Roboto", "Poppins", serif;
  position: absolute;
  font-size: 14pt;
  font-style: italic;
  top: 46%;
  left: 20%;
  text-shadow: 2px 2px 5px #000000;
}

.title_right {
  font-family: "Satisfy", Verdana, Tahoma;
  position: absolute;
  top: 30%;
  left: 60%;
  text-shadow: 2px 2px 5px #000000;
  font-size: 45pt;
}

.paragraph_right {
  font-family: "Roboto", "Poppins", serif;
  position: absolute;
  font-size: 14pt;
  font-style: italic;
  top: 46%;
  left: 60%;
  text-shadow: 2px 2px 5px #000000;
}
.top_title {
  font-family: "Roboto-bold", Verdana, Tahoma;
  font-size: 16pt;
  text-align: center;
}

.top_paragraph {
  font-family: "Roboto", "Poppins", serif;
  position: absolute;
  font-size: 14pt;
  font-style: italic;
  top: 46%;
  left: 20%;
}

.branded-logo {
  background: #231f20 url(./Assets/image/logo.svg) no-repeat;
  background-size: cover;
  max-width: 300px;
  background-position: center;
  height: 64px;
}
.brand-logo p {
  padding: 0 0 10px 5px;
}
.logo {
  width: 330px;
  margin-left: -30px;
  background-color: #231f20;
  height: 64px;
}
.logo img {
  padding: 0px;
  width: 330px;
  height: 64px;
}
.logo:hover {
  background-color: #231f20;
}
.main {
  padding-left: 300px;
}
.content-admin {
  padding: 20px 20px 20px 25%;
}
.loginlayout {
  background: #f8f8f8 url(./Assets/image/admin_resource/bg-login.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 10%;
  height: 100vh;
}
.loginpage {
  padding: 30px;
  width: 40%;
  background: #f8f8f8;
  opacity: 0.8;
  border-radius: 20px;
}
.loginpage h1 {
  text-align: center;
}
.login-main-content {
  opacity: 1;
}

.top_model_content {
  padding: 30px;
}
.top_model_content img {
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  object-fit: fill;
  padding-bottom: 10px;
}
.top_model {
  line-height: 1;
  padding: 50px 10px 50px 10px;
}
.top_model h1 {
  font-weight: 300;
  padding: 30px 50px 0px 50px;
  text-align: center;
  font-family: "Lora", "Poppins", Verdana;
  color: #552d25;
}
.top_model .top_subtitle {
  text-align: center;
  color: #c98a6a;
  font-size: 12pt;
}
.faq h1 {
  font-weight: 300;
  padding: 30px 50px 0px 50px;
  text-align: center;
  font-family: "Lora", "Poppins", Verdana;
  color: #552d25;
}
.faq .faq_subtitle {
  text-align: center;
  color: #c98a6a;
  font-size: 12pt;
}
.register-left-bg {
  height: 100vh;
}
.bg-register {
  background: #2b2a2a url(./Assets/image/homepage/bg-register.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.register-left {
  color: black;
}
.register-text {
  padding: 10px;
  margin: 10px;
}
.register-form {
  padding-top: 10vh;
}
.stylist_section {
  background: #fbf7f4;
  line-height: 1;
  padding: 50px 10px 50px 10px;
}
.stylist_section h1 {
  font-family: "Lora", "Poppins", serif;
  text-align: center;
  padding: 30px 30px 0px 30px;
  color: #552d25;
}
.stylist_subtitle {
  font-weight: 300;
  text-align: center;
  color: #c98a6a;
  font-size: 12pt;
}
.stylist_section img {
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  box-shadow: 6px 6px 12px silver;
}
.stylist_section .stylist_description {
  line-height: 1.6;
  padding-top: 20px;
}
.hairstyle_model {
  background-position: center;
  background-size: cover;
  padding: 50px;
}
.hairstyle_title {
  padding: 20px 20px 0px 50px;
  font-family: "Poppins", serif;
  color: #552d25;
}
.hairstyle_subtitle {
  line-height: 1;
  padding-left: 50px;
}
.highlight {
  background: #2b2a2a url(./Assets/image/homepage/bg-wall.jpg) repeat;
  background-size: 100%;
  line-height: 1;
  padding: 50px 10px 20px 10px;
}
.highlight_slider {
  padding: 10px 10px 10px 10px;
}
.highlight-card {
  color: #ffffff;
}

.highlight h1 {
  font-family: "Lora", "Poppins", serif;
  text-align: center;
  padding: 30px 30px 0px 30px;
  color: #552d25;
}
.highlight_subtitle {
  font-weight: 300;
  text-align: center;
  color: #000000;
  font-size: 14pt;
}

.footer {
  padding-top: 10px;
  background-color: #252525;
  font-size: 10pt;
  padding: 50px 20px 10px 20px;
  color: #ffffff;
  box-shadow: 0px 40px 10px -10px #fefefe inset;
}

.loader {
  color: #2b2b2b;
  text-align: center;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .main {
    padding-left: 10px;
  }
  .nav_logo img {
    width: 70px;
    height: 60px;
    margin-left: 30px;
  }
  .loginpage {
    padding: 30px;
    width: 70%;
  }
  .title_right {
    left: 50%;
  }

  .paragraph_right {
    left: 50%;
  }
  .bg-register {
    background: #2b2a2a url(./Assets/image/homepage/bg-register.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
  .main {
    padding-left: 10px;
  }
  nav {
    text-align: center;
    vertical-align: middle;
  }

  .nav_logo img {
    margin-left: 0px;
  }
  .loginpage {
    padding: 30px;
    width: 80%;
  }
  .bg-register {
    background: #2b2a2a url(./Assets/image/homepage/bg-stylist.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
  }
  .full {
    background: #f4f4f4 url(./Assets/image/homepage/bg_antrian.jpg) no-repeat;
    background-size: 100%;
    background-position: top center;
    width: 100%;
    height: 850px;
    margin: auto;
    display: block;
    filter: brightness(100%);
  }
}
/* Mobile Styles */
@media only screen and (max-width: 500px) {
  .main {
    padding-left: 10px;
  }
  nav {
    background-color: #2e2e2e;
    text-align: right;
  }
  .nav_logo img {
    margin: 0 auto;
  }
  .bg-register {
    background-size: cover;
    background-position: center;
    height: 50vh;
  }
  .loginpage {
    padding: 30px;
    width: 90%;
  }
  .slick-slide img {
    object-fit: 50% 100%;
  }
  .title_right {
    left: 20%;
  }

  .paragraph_right {
    left: 20%;
    font-size: 12pt;
  }
  .about img {
    width: 80%;
    height: 80%;
    margin-bottom: 100px;
  }
  .full {
    background: #f4f4f4 url(./Assets/image/homepage/bg_antrian.jpg) no-repeat;
    background-size: 100%;
    background-position: top center;
    width: 100%;
    height: 700px;
    margin: auto;
    display: block;
    filter: brightness(100%);
  }

  .zoom {
    animation: shrink 30s alternate infinite;
  }

  @keyframes shrink {
    0% {
      background-size: 105%;
    }
    100% {
      background-size: 100%;
    }
  }
  .ambil_antrian {
    color: #ffffff;
  }
  .ambil_antrian .title_antrian {
    font-family: "Satisfy", "Roboto", Verdana;
    font-size: 25pt;
    text-align: center;
    text-shadow: 3px 3px 5px #000000;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .cek_antrian {
    padding-top: 70px;
  }
  .form_antrian {
    width: 100%;
  }
  .form_antrian p {
    color: #0b1829;
    font-family: "Open Sans", serif;
    font-size: 16pt;
    font-weight: 600;
  }
  .footer {
    background-color: #fefaf7;
    font-size: 10pt;
    padding: 50px 20px 20px 20px;
  }
}
